In [2]:
import pandas as pd

In [6]:
path = r"/Users/sherinthomas/Downloads/Python/Housing_Project/housing/artifact/data_ingestion/2022-10-16-10-46-36/ingested_data/train/housing.csv"

In [9]:
df = pd.read_csv(path)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,INLAND
1,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,NEAR OCEAN
2,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND
3,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,112500.0,NEAR OCEAN
4,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0,<1H OCEAN

In [11]:
x, y = df.drop(columns=["median_house_value"], axis=1), df[["median_house_value"]]

In [31]:
x.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,INLAND
1,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,NEAR OCEAN
2,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,INLAND
3,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,NEAR OCEAN
4,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,<1H OCEAN

In [14]:
y.shape

(16512, 1)

In [21]:
x.isna().sum().sort_values(ascending=False).head(1).index[0]

'total_bedrooms'

In [22]:
from sklearn.impute import SimpleImputer

In [23]:
simple_imputer = SimpleImputer(strategy = "median")

In [29]:
df.ocean_proximity.value_counts().sort_values(ascending=False).head(1).index[0]

'<1H OCEAN'

In [32]:
simple_imputer.fit_transform(x.drop(columns=['ocean_proximity'], axis=1))

array([[-1.2146e+02,  3.8520e+01,  2.9000e+01, ...,  2.2370e+03,
         7.0600e+02,  2.1736e+00],
       [-1.1723e+02,  3.3090e+01,  7.0000e+00, ...,  2.0150e+03,
         7.6800e+02,  6.3373e+00],
       [-1.1904e+02,  3.5370e+01,  4.4000e+01, ...,  6.6700e+02,
         3.0000e+02,  2.8750e+00],
       ...,
       [-1.2272e+02,  3.8440e+01,  4.8000e+01, ...,  4.5800e+02,
         1.7200e+02,  3.1797e+00],
       [-1.2270e+02,  3.8310e+01,  1.4000e+01, ...,  1.2080e+03,
         5.0100e+02,  4.1964e+00],
       [-1.2214e+02,  3.9970e+01,  2.7000e+01, ...,  6.2500e+02,
         1.9700e+02,  3.1319e+00]])

In [33]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,INLAND
1,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,NEAR OCEAN
2,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND
3,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,112500.0,NEAR OCEAN
4,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0,<1H OCEAN

In [41]:
cols = list(df.columns)
type(cols)

list

In [42]:
cols.index("total_rooms")

3

In [35]:
from sklearn.base import BaseEstimator, TransformerMixin

In [44]:
df = pd.read_csv("/Users/sherinthomas/Downloads/Python/Housing_Project/housing/artifact/data_ingestion/2022-10-16-10-46-36/ingested_data/train/housing.csv")

In [49]:
df.ocean_proximity= df.ocean_proximity.astype('category')

In [53]:
df.dtypes.values

array([dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       CategoricalDtype(categories=['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'], ordered=False)],
      dtype=object)

In [ ]:
COLUMN_TOTAL_ROOMS = "total_rooms"
COLUMN_POPULATION = "population"
COLUMN_HOUSEHOLDS="households"
COLUMN_TOTAL_BEDROOMS = "total_bedrooms"

class FeatureGenrerator(BaseEstimator, TransformerMixin):
    def __init__(self, add_bedroom_per_room=True,
                    total_rooms_idx=3,
                    population_idx=5,
                    households_idx=6,
                    total_bedrooms_idx=4, columns=None) :

        try:
            self.columns = columns
            if self.columns is not None:
                total_rooms_idx = self.columns.index(COLUMN_TOTAL_ROOMS)
        self.strategy = strategy

    def fit(self, X):
        self.features_ = X.columns
        self.statistics_ = []
        for column in X.columns:
            self.statistics_.append(X[column].median())

    def transform(self, X: pd.DataFrame):
        for idx, column in enumerate( X.columns):
            X[column].fillna(self.statistics_[idx])
        return X

    def fit_transform(self, X):
        self.fit(X)
        return self.transform(X)